.overlay {
  display: block;
  position: fixed;
  border: none;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
  background-color: #000000;
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay:hover {
  background-color: #000000;
}

.overlay_visible {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.overlay_hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .overlay_descktop-hidden {
    display: none;
  }
}