.page {
  min-height: 100vh;
  background-color: #343233;
  color: #efdab9;
  background-image: url(../img/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (min-resolution: 1.5dppx) {
  .page {
    background-image: url(../img/mobile-bg@2x.jpg);
  }
}

.page__logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

.page__title {
  margin-top: 0;
  letter-spacing: 0.03em;
}

.page__container {
  position: relative;
  padding-top: 8em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 22em;
}

.page ::-moz-selection,
.page a::-moz-selection {
  background-color: rgb(211, 110, 45);
  color: #efdab9;
}
.page ::selection,
.page a::selection {
  color: #efdab9;

  background-color: rgb(211, 110, 45);
}

.page__subtitle {
  margin: 0;
  padding: 1em 0;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .page {
    display: flex;
    align-items: center;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .page__title {
    padding-top: 1.5em;
    margin-bottom: 2em;
  }

  .page__container {
    display: flex;
    /* width: 100%; */
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 0.5em;
  }

  .page__col2 {
    flex-basis: 62.5%;
    padding-right: 15px;
    padding-bottom: 28em;
  }

  .page__col1 {
    flex-shrink: 0;
    order: 1;
    margin-left: auto;
    padding-left: 15px;
    margin-right: -2px;
    width: 100%;
    flex-basis: 37.5%;
    max-width: 375px;
    /* min-width: 300px; */
  }

  .page__item {
    padding-top: 1em;
    padding-bottom: 5em;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page {
    background-image: url(../img/bg@2x.jpg);
  }
}
