.sounds {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 1em;
}

.sounds__list {
  padding: 0;
  margin: 0;
  margin-right: -2px;
  margin-left: -2px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.sounds__title a {
  color: #8e8373;
  text-decoration: none;
  font-size: 16px;
}

.sounds__title a:hover,
.sounds__title a:focus,
.sounds__title a.sounds__link_active {
  color: #ebac00;
  transition: color 0.3s;
}

.sounds__item {
  display: flex;
  flex-basis: 12.5%;
  padding: 2px;
  font-size: 20px;
  line-height: 1.2;
}

.sounds__container:last-of-type {
  margin-bottom: 1em;
}

.sounds__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: calc(50% - 0.6em);
  padding-bottom: calc(50% - 0.6em);
  max-height: 50px;
  background-color: #3d3a3a;
  color: #efdab9;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  border-radius: 0.111em;
  transition: color 0.2s, background 0.2s;
}

.sounds__item a:hover,
.sounds__item a:focus {
  color: #3d3a3a;

  background-color: #efdab9;
  transition: color 0.3s, background 0.3s;
}

.sounds__item a.sounds__link_active {
  color: #343233;

  background-color: #ffd152;
  transition: color 0.3s, background 0.3s;
}

.sounds__list_vowels .sounds__item:nth-child(13) {
  margin-right: 37.5%;
}

@media screen and (min-width: 768px) {
  .sounds {
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
  }

  .sounds__btn {
    display: inline-block;
  }

  .sounds__container {
    max-width: 360px;
    padding-top: 1em;
  }

  .sounds__container:last-of-type {
    margin-bottom: 1em;
  }
}
