@import "_preloader.css";
@import "_font.css";
@import "_global.css";
@import "_animation.css";
@import "_btn.css";
@import "_logo.css";
@import "_page.css";
@import "_sounds.css";
@import "_info-block.css";
@import "_clear-tbl.css";
@import "_noscreen.css";
